

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap");

:root {

    --red: hsl(14, 86%, 42%);
    --red-100: rgb(220, 60, 34);

    --white: hsl(0, 0%, 100%);
    --gray: rgb(209, 216, 190);
    --gray-100: rgb(245, 245, 245);
    --dark-gray: #2e2e2e;

    --green: hsl(159, 69%, 38%);
    --green-100: #06923E;


    --primary: hsl(200, 13%, 23%);
    --secondary: hsl(204, 77%, 26%);

    --sidebar-bg-color:#fdfcfb; 
    

    --font-family-default: "Inter", system-ui, sans-serif; 
    --font-family-secondary: "Playfair Display", serif;

    --font-size-100: 0.5rem;
    --font-size-200: 0.75rem;
    --font-size-300: 0.95rem;
    --font-size-400: 1rem;
    --font-size-500: 1.2rem;
    --font-size-600: 1.5rem;
    --font-size-700: 2rem;
    --font-size-800: 2.5rem;


    --font-weight-normal: 500;
    --font-weight-bold: 700;
}

* {
    margin: 0;
    padding: 0;
}


*, ::before, ::after {
    box-sizing: border-box;
}


body {
    font-family: var(--font-family-default);
}


li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

select {
    -moz-appearance: none;
   
}
  
  
.wrapper {
    display: flex;
    gap: 2rem;
}

.todo__list-item {
    display: flex;
    flex-direction: column;
}

#sidebar {
    width: 30%;
    height: 100vh;
    padding: 2rem;
    background-color: var(--sidebar-bg-color);
}


.sidebar__item {
  margin-bottom: 1rem;
}



.sidebar__item-list {
    display: flex;
    margin-bottom: .75em;
}

.sidebar__item-project {
    font-size: var(--font-size-400);
    color: var(--dark-gray);
    font-weight: 500;
}



#todo-list {
    width: 100%;
    position: relative;
    margin-block: 5rem;
    margin-inline: 10rem;
}

.todo__add-task, .today__add-task {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10rem;
}

.add__task-btn  {
    max-width: 20%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding-block: .35em;
    padding-inline: .75em;
    background-color: var(--red-100);
    color: var(--white);
    border-radius: .25em;
    gap: 1rem;
    border: none;

}


.add__task-btn:hover {
    background-color: var(--red);
}

.add__task-icon {
    width: 15px;
    margin-top: .25em; 
    filter: brightness(0) invert(1);
    
}

.inbox__form, .today__form {
    width: 100%;
    display: none;
    flex-direction: column;
    justify-content: center;
    background-color: var(--white);
    padding: .75em;
    margin-top: 1rem;
    border: 1px solid var(--gray);
    border-radius: .75rem;
    gap: 1rem;
}

.inbox__title, .inbox__description {
    width: 100%;
    padding: .25rem;
    background-color: white;
    border: none;
}

.inbox__select, .project__task-priority-input {
    padding: .45em;
    background-color: var(--white);
    border: 1px solid black;
    border-radius: .25em;
}

.inbox__select:hover, .project__task-priority-input:hover {
    background-color: var(--gray-100);
}

.inbox__date, .project__task-date-input {
    padding: .35em;
}

.inbox__meta {
    display: flex;
    gap: .75em;
}

.inbox__actions {
    display: none;
    justify-content: flex-end;
    gap: 1rem;
}

.todo__save-task, .project__task-add {
    padding: .75em;
    border: none;
    border-radius: .45em;
    background-color: var(--red-100);
}


.todo__save-task:hover,  .project__task-add:hover {
    background-color: var(--red);
}

.todo__cancel-task,  .project__task-cancel {
    padding: .75em;
    border: none;
    border-radius: .45em;
}


.task__item, .project__task-item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
    padding-bottom: .75em;
    border-bottom: 1px solid var(--gray);
    text-wrap: nowrap;
}

.task__item-title, .project__task-item-title {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.task__item > td{
    width: 100%;
    padding: 0.75rem;
    text-align: center;
    vertical-align: middle;
}

.task__item-btn, .project__task-item-btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1.5rem;
}

.btn {
    padding: 6px 12px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-details, .btn__today-details, .btn__lastweek-details, .btn-project-task-details {
    color: var(--green-100);
    background-color: var(--white);
    border: 1px solid var(--green);
}

.btn-details:hover, .btn__lastweek-details:hover .btn__today-details:hover, .btn-project-task-details:hover {
    color: var(--white);
    background-color: var(--green-100);
}

.btn-delete, .btn-edit, .btn-exit, .btn__today-edit, .btn__today-delete, .btn__lastweek-edit, .btn__lastweek-delete, .btn-project-task-edit, .btn-project-task-delete, .task-btn-exit{
    padding: 0;
    background-color: var(--white);
    color: white;
}

.btn-delete img, .btn__today-delete img, .btn__lastweek-delete img, .btn-project-task-delete img {
    width: 21px;
}

.btn-edit img, .btn__today-edit img, .btn__lastweek-edit img, .btn-project-task-edit img  {
    width: 18px;
}

.btn-delete img:hover, .btn__today-delete img:hover, .btn__lastweek-delete img:hover, .btn-project-task-delete img:hover{
    filter: invert(19%) sepia(46%) saturate(6923%) hue-rotate(2deg) brightness(104%) contrast(73%)
}

.btn-edit img:hover, .btn__today-edit img:hover, .btn__lastweek-edit img:hover, .btn-project-task-edit img:hover {
    filter: invert(26%) sepia(94%) saturate(1775%) hue-rotate(131deg) brightness(99%) contrast(95%);
}

.task__details {
    display: none;
    justify-content: flex-end;
}

.task__details-edit {
    display: none;
    gap: 1rem;
}

.task__details-save {
    padding: .65em;
    background-color: var(--red-100);
    color: var(--white);
    border: none;
    border-radius: .25em;
}

.task__details-save:hover {
    background-color: var(--red);
}

.task__details-cancel {
    padding: .65em;
    border: none;
    border-radius: .25em;
}



.task__modal, .task__modal-today, .task__modal-lastweek, .project__task-modal{
    width: 60%;
    display: none;
    position: absolute;
    background-color: white; 
    top: 25%;
    right: 10%;
    transform: translate(-30%, -30%);
    box-shadow: 0 4px 12px 4px rgba(0, 0, 0, 0.25);
    gap: 1rem;
}

.task__modal-info, .task__modal-today-info, .task__modal-lastweek-info, .project__task-modal-info {
    width: 100%;
}

.task__modal-item, .today-task__modal-item, .last-week-task__modal-item, .project__task-modal-item{
    width: 100%;
    padding-block: 1rem;
    padding-inline: 0.85rem;
    margin-left: 1rem;
}

.task__btn-exit, .project__task-btn-exit {
   width: 100%;
   display: flex;
   justify-content: flex-end;
}


.task__modal-title, .project__task-modal-title {
    font-size: var(--font-size-700);
}

.task__modal-text, .project__task-modal-text {
    margin-top: 1rem;
}


#today-list {
    display: none;
}


.project__parent {
    width: 100%;
    border: none;
}

.project__container-add {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column ;
    cursor: pointer;
  }

.project__container-add-list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
/* hidden by default */
.project__btn-add {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity .15s, visibility .15s;
    background-color: var(--white);
    border: none;
}

.project__list {
    width: 100%;
    margin-top: 1em;
    padding-left: 1em;
    font-size: .75em;
}

.project__list-item {
    margin-bottom: .75em;
    cursor: pointer;
}

.project__list-item:hover {

}
  
/* show when hovering the sidebar link (class toggled on the page) */
.sidebar__item.show-add .project__btn-add {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
  
/* also show when hovering the header inside the page */
.project__container-add:hover .project__btn-add,
.project__container-add:focus-within .project__btn-add {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
  
.project__add-icon {
    width: 10px;
}

.project__wrapper {
    width: 60%;
    display: flex;
    position: absolute;
    flex-direction: column;
    top: 30%;
    right: 10%;
    transform: translate(-30%, -30%);
    box-shadow: 0 4px 12px 4px rgba(0, 0, 0, 0.25);
}

.project__header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--gray);
    padding: 1em;
}


.project__header-exit {
    display: flex;
}

.project__header-title {
    font-size: var(--font-size-600);
    font-weight: var(--font-weight-normal);

}

.project__btn-exit {
    background-color: var(--white);
    border: none;
}

.exit-icon {
    width: 16px;
}


.project__wrapper {
    display: none;
}


.project__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
}

.project__title-parent {
    width: 100%;
}

.project__label {
    font-size: 1.1em;
    font-weight: var(--font-family-secondary);
}

.project__title {
    width: 100%;
}

.project__actions {
    display: flex;
    gap: 1em;
    justify-content: end;
}

.project__form-title {
    width: 100%;
    padding-block: .75em;
    padding-inline: 1em;
    margin-top: 1em;
    border-radius: .25em;
    border: 1px solid black;
}

.project__btn-save {
    padding-block: .85em;
    padding-inline: 1em;
    background-color: var(--red);
    color: var(--white);
    border-radius: .25em;
    border: none;
    text-wrap: nowrap;
}

.project__btn-cancel {
    padding-block: .85em;
    padding-inline: 1em;
    background-color: var(--gray-100);
    color: black;
    border-radius: .25em;
    border: none;
    text-wrap: nowrap;
}

.project__btn-save:hover {
    background-color: var(--red-100);
}

.project__btn-cancel:hover {
    background-color: var(--gray);
}

.project__add-task {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: flex-end;
    margin-top: 2em;
    color: gray;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 100;
    background-color: var(--white);
    border: none;
    gap: 1em;
}

.project__add-task-icon {
    width: 13px;
    margin-top: .30em; 
    /* filter: brightness(0) invert(1); */
}

.project__main-view {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.project__detail-view {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .75em;
}

.project__selected-view {
    width: 100%;
    display: flex;
    flex-direction: column;
   
}
    
.projects__header {
    width: 100%;
    border-bottom: 1px solid var(--gray);
    padding-bottom: .75em;
    margin-bottom: 1em;
}
 

.project__task-form-container {
    display: none;
    width: 100%;
}

.project__task-form {
    width: 100%;
    display: none;
    flex-direction: column;
    padding: .75em;
    margin-top: 1rem;
    border: 1px solid var(--gray);
    border-radius: .75rem;
    gap: 1em;
}

.project__task-title-input, .project__task-description-input {
    width: 100%;
    padding: .25rem;
    background-color: white;
    border: none;
}

.project__task-priority-date-parent {
    display: flex;
    gap: 1em;
}

.project__task-actions-parent {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    margin-top: 1em;
    gap: 1em;
}


